In [1]:
bob        = 0
jim        = 1
spot       = 2
scar       = 3
the_donald = 4
aslan      = 5
juan       = 6

In [2]:
print("",jim,"\n",spot,"\n",scar,"\n",the_donald,"\n",aslan,"\n",juan,"\n",jim,bob,"\n",jim,jim,"\n",jim,spot,"\n",jim,scar,
      "\n",jim,the_donald,"\n",jim,aslan,"\n",jim,juan)

 1
 2
 3
 4
 5
 6
 1 0
 1 1
 1 2
 1 3
 1 4
 1 5
 1 6

In [3]:
second = 0
numbers =second,jim,second,spot,second,scar,second,the_donald,second,aslan,second,juan


for i in range (5):
    
    print(numbers)
    second = 0

(0, 1, 0, 2, 0, 3, 0, 4, 0, 5, 0, 6)
(0, 1, 0, 2, 0, 3, 0, 4, 0, 5, 0, 6)
(0, 1, 0, 2, 0, 3, 0, 4, 0, 5, 0, 6)
(0, 1, 0, 2, 0, 3, 0, 4, 0, 5, 0, 6)
(0, 1, 0, 2, 0, 3, 0, 4, 0, 5, 0, 6)

In [4]:
bob        = 0
jim        = 1
spot       = 2
scar       = 3
the_donald = 4
aslan      = 5
juan       = 6


print("       ",jim,"   ",spot,"   ",scar,"   ",the_donald,"   ",aslan,"   ",juan)
print(jim,bob," ",jim,jim," ",jim,spot," ",jim,scar," ",jim,the_donald," ",jim,aslan," ",jim,juan)
print(spot,bob," ",spot,jim," ",spot,spot," ",spot,scar," ",spot,the_donald," ",spot,aslan," ",spot,juan)
print(scar,bob," ",scar,jim," ",scar,spot," ",scar,scar," ",scar,the_donald," ",scar,aslan," ",scar,juan)
print(the_donald,bob," ",the_donald,jim," ",the_donald,spot," ",the_donald,scar," ",the_donald,the_donald," ",the_donald,aslan," ",the_donald,juan)
print(aslan,bob," ",aslan,jim," ",aslan,spot," ",aslan,scar," ",aslan,the_donald," ",aslan,aslan," ",aslan,juan)
print(juan,bob," ",juan,jim," ",juan,spot," ",juan,scar," ",juan,the_donald," ",juan,aslan," ",juan,juan)

        1     2     3     4     5     6
1 0   1 1   1 2   1 3   1 4   1 5   1 6
2 0   2 1   2 2   2 3   2 4   2 5   2 6
3 0   3 1   3 2   3 3   3 4   3 5   3 6
4 0   4 1   4 2   4 3   4 4   4 5   4 6
5 0   5 1   5 2   5 3   5 4   5 5   5 6
6 0   6 1   6 2   6 3   6 4   6 5   6 6

In [5]:
(['$','!','€','@'])

['$', '!', '€', '@']

In [6]:
''.join(['$','!','€','@'])

'$!€@'

In [27]:

bob        = 'Z'
jim        = 'A'
spot       = 'B'
scar       = 'C'
the_donald = 'D'
aslan      = 'E'
juan       = 'F'



first6 = jim,spot,scar,the_donald,aslan,juan
print(first6)

second6 = jim+bob, jim+jim, jim+spot,jim+scar,jim+the_donald,jim+aslan,jim+juan
print(second6)

third6 = spot+bob, spot+jim, spot+spot,spot+scar,spot+the_donald,spot+aslan,spot+juan    
print(third6) 

fourth6 = scar+bob, scar+jim, scar+spot,scar+scar,scar+the_donald,scar+aslan,scar+juan    
print(fourth6)

fifth6 = the_donald+bob, the_donald+jim, the_donald+spot,the_donald+scar,the_donald+the_donald,the_donald+aslan,the_donald+juan    
print(fifth6)

('A', 'B', 'C', 'D', 'E', 'F')
('AZ', 'AA', 'AB', 'AC', 'AD', 'AE', 'AF')
('BZ', 'BA', 'BB', 'BC', 'BD', 'BE', 'BF')
('CZ', 'CA', 'CB', 'CC', 'CD', 'CE', 'CF')
('DZ', 'DA', 'DB', 'DC', 'DD', 'DE', 'DF')

In [39]:
B        = "!"
JI       = "£"
SP       = "$"
SC       = "%"
TD       = "^"
A        = "&"
JU       = "*"



list = [B,JI,SP,SC,TD,A,JU]

for j in range(1,6):
     for h in range(6):
        print((list[j],list[h]))

('£', '!')
('£', '£')
('£', '$')
('£', '%')
('£', '^')
('£', '&')
('$', '!')
('$', '£')
('$', '$')
('$', '%')
('$', '^')
('$', '&')
('%', '!')
('%', '£')
('%', '$')
('%', '%')
('%', '^')
('%', '&')
('^', '!')
('^', '£')
('^', '$')
('^', '%')
('^', '^')
('^', '&')
('&', '!')
('&', '£')
('&', '$')
('&', '%')
('&', '^')
('&', '&')

In [40]:
nums = [1,2,3,4]

In [41]:
for i in nums:
  print(i)

1
2
3
4

In [42]:
print(nums[:: -1])

[4, 3, 2, 1]

In [43]:
print("Hello"[::-1])

olleH

In [44]:
print("Hello"[0:4:2])

Hl

In [45]:
lotto ={1,2,3,4}

In [46]:
len(lotto)

4

In [47]:
type (lotto)

set

In [48]:
lotto.add(1)
len(lotto)

4

In [49]:
lottolist = [1,2,3,4]

In [50]:
type (lottolist)

list

In [51]:
lottolist.append(1)

In [52]:
lotto, lottolist

({1, 2, 3, 4}, [1, 2, 3, 4, 1])

In [53]:
for i in range(100):
    print(i % 12, end = "  -  ")

0  -  1  -  2  -  3  -  4  -  5  -  6  -  7  -  8  -  9  -  10  -  11  -  0  -  1  -  2  -  3  -  4  -  5  -  6  -  7  -  8  -  9  -  10  -  11  -  0  -  1  -  2  -  3  -  4  -  5  -  6  -  7  -  8  -  9  -  10  -  11  -  0  -  1  -  2  -  3  -  4  -  5  -  6  -  7  -  8  -  9  -  10  -  11  -  0  -  1  -  2  -  3  -  4  -  5  -  6  -  7  -  8  -  9  -  10  -  11  -  0  -  1  -  2  -  3  -  4  -  5  -  6  -  7  -  8  -  9  -  10  -  11  -  0  -  1  -  2  -  3  -  4  -  5  -  6  -  7  -  8  -  9  -  10  -  11  -  0  -  1  -  2  -  3  -  4  -  5  -  6  -  7  -  8  -  9  -  10  -  11  -  0  -  1  -  2  -  3  -

In [57]:
for i in range(100):
    print(i % 10, end = ",")

0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,

In [62]:
curr = 99

if((curr + 1) % 10 == 0):
   print("you must carry a one")

you must carry a one

In [80]:
numlist = ['9','9']
result = ['1']

for i in range (len(numlist)):
    result.append('0')

In [81]:
result

['1', '0', '0']